:root {
  --bright-blue: #279fdd;
  --mint: #26e0c8;
}

.box {
  width: 95%;
  height: 160px;
  position: relative;
  background-color: #2d2d2d80;
  backdrop-filter: blur(40px);
  border-radius: 20px;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 20px;
  border: 1px #2d2d2d solid;
  box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.3);
}

.box_t {
  font-size: 24px;
  text-align: center;
  top: 10px;
  color: var(--mint);
  position: relative;
}

.box_c {
  font-size: 14px;
  width: 90%;
  position: relative;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
  display: block;
}
